In [1]:
# split data with months and weeks
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score
student_features = pd.read_csv('2016_se1_lib_lms.csv')
student_features.head()

,MASKED_STUDENT_ID,workday,weekend,morning,afternoon,evening,overnight,workday_ExamMonth,weekend_ExamMonth,morning_ExamMonth,...,12group,12db,12myinfo,12course,12journal,12email,12staff,12annoucements,12content,12grade
0,8TMIKVZ5,25,0,0,25,0,0,0,0,0,...,44.0,0.0,15.0,6.0,9.0,0.0,0.0,27.0,331.0,4.0
1,N2YYKTMZ,61,3,1,45,18,0,5,0,0,...,4.0,2.0,4.0,0.0,0.0,0.0,2.0,11.0,202.0,4.0
2,BZRW4GD3,0,1,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,2.0
3,HJTBF62Q,14,21,1,26,8,0,4,7,1,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0
4,33XUIDIG,20,5,0,16,9,0,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,0.0

In [2]:
df_se1_features = student_features[[i for i in student_features.columns if i != 'label_atRist' and i != 'MASKED_STUDENT_ID']]
df_se1_labels = student_features[['label_atRist']]

In [7]:
df_se1_labels.shape

(15503, 1)

In [8]:
df_se1_labels.to_csv('labels.csv', index=False)

In [4]:
df_se1_labels.head()

0    0
1    0
2    0
3    0
4    0
Name: label_atRist, dtype: int64

In [4]:
df_se1_features.columns

Index(['workday', 'weekend', 'morning', 'afternoon', 'evening', 'overnight',
       'workday_ExamMonth', 'weekend_ExamMonth', 'morning_ExamMonth',
       'afternoon_ExamMonth', 'evening_ExamMonth', 'overnight_ExamMonth',
       'workday_notExamMonth', 'weekend_notExamMonth', 'morning_notExamMonth',
       'afternoon_notExamMonth', 'evening_notExamMonth',
       'overnight_notExamMonth', 'workday_firstMonth', 'weekend_firstMonth',
       'morning_firstMonth', 'afternoon_firstMonth', 'evening_firstMonth',
       'overnight_firstMonth', 'examMonth', 'notExamMonth', 'firstMonth',
       'total_checkin', '09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT',
       '09group', '09db', '09myinfo', '09course', '09journal', '09email',
       '09staff', '09annoucements', '09content', '09grade', '10LOGIN_ATTEMPT',
       '10SESSION_TIMEOUT', '10LOGOUT', '10group', '10db', '10myinfo',
       '10course', '10journal', '10email', '10staff', '10annoucements',
       '10content', '10grade', '11LOGIN_ATTEMPT', '11SESSION_TIMEOUT',
       '11LOGOUT', '11group', '11db', '11myinfo', '11course', '11journal',
       '11email', '11staff', '11annoucements', '11content', '11grade',
       '12LOGIN_ATTEMPT', '12SESSION_TIMEOUT', '12LOGOUT', '12group', '12db',
       '12myinfo', '12course', '12journal', '12email', '12staff',
       '12annoucements', '12content', '12grade'],
      dtype='object')

In [10]:
df_se1_feature_09 = df_se1_features[['workday_firstMonth','weekend_firstMonth',
       'morning_firstMonth', 'afternoon_firstMonth', 'evening_firstMonth','overnight_firstMonth','firstMonth',
       '09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT',
       '09group', '09db', '09myinfo', '09course', '09journal', '09email',
       '09staff', '09annoucements', '09content', '09grade']]
df_se1_feature_09.to_csv('feature_09.csv', index=False)

In [10]:
df_se1_feature_10 = df_se1_features[['workday_firstMonth','weekend_firstMonth',
       'morning_firstMonth', 'afternoon_firstMonth', 'evening_firstMonth','overnight_firstMonth','firstMonth',
       '09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT',
       '09group', '09db', '09myinfo', '09course', '09journal', '09email',
       '09staff', '09annoucements', '09content', '09grade',    
       'workday_notExamMonth', 'weekend_notExamMonth', 'morning_notExamMonth',
       'afternoon_notExamMonth', 'evening_notExamMonth','overnight_notExamMonth','notExamMonth',
       '10LOGIN_ATTEMPT','10SESSION_TIMEOUT', '10LOGOUT', '10group', '10db', '10myinfo',
       '10course', '10journal', '10email', '10staff', '10annoucements',
       '10content', '10grade']]
df_se1_feature_10.to_csv('feature_10.csv', index=False)

In [11]:
df_se1_feature_11 = df_se1_features[['workday_firstMonth','weekend_firstMonth',
       'morning_firstMonth', 'afternoon_firstMonth', 'evening_firstMonth','overnight_firstMonth','firstMonth',
       '09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT',
       '09group', '09db', '09myinfo', '09course', '09journal', '09email',
       '09staff', '09annoucements', '09content', '09grade',    
       'workday_notExamMonth', 'weekend_notExamMonth', 'morning_notExamMonth',
       'afternoon_notExamMonth', 'evening_notExamMonth','overnight_notExamMonth','notExamMonth',
       '10LOGIN_ATTEMPT','10SESSION_TIMEOUT', '10LOGOUT', '10group', '10db', '10myinfo',
       '10course', '10journal', '10email', '10staff', '10annoucements',
       '10content', '10grade',
       '11LOGIN_ATTEMPT', '11SESSION_TIMEOUT',
       '11LOGOUT', '11group', '11db', '11myinfo', '11course', '11journal',
       '11email', '11staff', '11annoucements', '11content', '11grade']]
df_se1_feature_11.to_csv('feature_11.csv', index=False)

In [12]:
df_se1_features.to_csv('feature_12.csv', index=False)

## Now combine with seq

In [3]:
seq_entropy = pd.read_csv('df_seq_week_entropy.csv')

In [9]:
seq_entropy.columns

Index(['Unnamed: 0', 'De-id', '09_day_list', '10_day_list', '11_day_list',
       '12_day_list', 'total_list', '09_weekday_seq', '09_weekend_seq',
       '10_weekday_seq', '10_weekend_seq', '11_weekday_seq', '11_weekend_seq',
       '12_weekday_seq', '12_weekend_seq', 'total_weekday_seq',
       'total_weekend_seq', '09_weekday_entropy_5', '10_weekday_entropy_5',
       '11_weekday_entropy_5', '12_weekday_entropy_5',
       'total_weekday_entropy_5', '09_weekend_entropy_2',
       '10_weekend_entropy_2', '11_weekend_entropy_2', '12_weekend_entropy_2',
       'total_weekend_entropy_2', 'CUM_GPA', 'at_risk'],
      dtype='object')

In [ ]:
df_se1_features