In [1]:
import numpy as np
import pandas as pd
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, balanced_accuracy_score
from sklearn.model_selection import train_test_split
import re

df_se1 = pd.read_csv('2016_se1_lib_lms.csv')
df_se1.head()

,MASKED_STUDENT_ID,workday,weekend,morning,afternoon,evening,overnight,workday_ExamMonth,weekend_ExamMonth,morning_ExamMonth,...,12group,12db,12myinfo,12course,12journal,12email,12staff,12annoucements,12content,12grade
0,8TMIKVZ5,25,0,0,25,0,0,0,0,0,...,44.0,0.0,15.0,6.0,9.0,0.0,0.0,27.0,331.0,4.0
1,N2YYKTMZ,61,3,1,45,18,0,5,0,0,...,4.0,2.0,4.0,0.0,0.0,0.0,2.0,11.0,202.0,4.0
2,BZRW4GD3,0,1,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,2.0
3,HJTBF62Q,14,21,1,26,8,0,4,7,1,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0
4,33XUIDIG,20,5,0,16,9,0,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,0.0

In [25]:
df_se1.columns

Index(['MASKED_STUDENT_ID', 'workday', 'weekend', 'morning', 'afternoon',
       'evening', 'overnight', 'workday_ExamMonth', 'weekend_ExamMonth',
       'morning_ExamMonth', 'afternoon_ExamMonth', 'evening_ExamMonth',
       'overnight_ExamMonth', 'workday_notExamMonth', 'weekend_notExamMonth',
       'morning_notExamMonth', 'afternoon_notExamMonth',
       'evening_notExamMonth', 'overnight_notExamMonth', 'workday_firstMonth',
       'weekend_firstMonth', 'morning_firstMonth', 'afternoon_firstMonth',
       'evening_firstMonth', 'overnight_firstMonth', 'examMonth',
       'notExamMonth', 'firstMonth', 'total_checkin', 'label_atRist',
       '09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT', '09group', '09db',
       '09myinfo', '09course', '09journal', '09email', '09staff',
       '09annoucements', '09content', '09grade', '10LOGIN_ATTEMPT',
       '10SESSION_TIMEOUT', '10LOGOUT', '10group', '10db', '10myinfo',
       '10course', '10journal', '10email', '10staff', '10annoucements',
       '10content', '10grade', '11LOGIN_ATTEMPT', '11SESSION_TIMEOUT',
       '11LOGOUT', '11group', '11db', '11myinfo', '11course', '11journal',
       '11email', '11staff', '11annoucements', '11content', '11grade',
       '12LOGIN_ATTEMPT', '12SESSION_TIMEOUT', '12LOGOUT', '12group', '12db',
       '12myinfo', '12course', '12journal', '12email', '12staff',
       '12annoucements', '12content', '12grade'],
      dtype='object')

In [27]:
def cal(row):
    fs = ['09LOGIN_ATTEMPT', '09SESSION_TIMEOUT', '09LOGOUT', '09group', '09db',
       '09myinfo', '09course', '09journal', '09email', '09staff',
       '09annoucements', '09content', '09grade', '10LOGIN_ATTEMPT',
       '10SESSION_TIMEOUT', '10LOGOUT', '10group', '10db', '10myinfo',
       '10course', '10journal', '10email', '10staff', '10annoucements',
       '10content', '10grade', '11LOGIN_ATTEMPT', '11SESSION_TIMEOUT',
       '11LOGOUT', '11group', '11db', '11myinfo', '11course', '11journal',
       '11email', '11staff', '11annoucements', '11content', '11grade',
       '12LOGIN_ATTEMPT', '12SESSION_TIMEOUT', '12LOGOUT', '12group', '12db',
       '12myinfo', '12course', '12journal', '12email', '12staff',
       '12annoucements', '12content', '12grade']
    ans = 0.0
    for f in fs:
        ans += row[f]
    return ans/len(fs)
df_se1['avg_online'] = df_se1.apply(cal, axis=1)

In [28]:
df_se1['avg_online'].describe()

count    15503.000000
mean        19.377928
std         12.824723
min          0.000000
25%         10.115385
50%         17.326923
75%         26.269231
max        206.230769
Name: avg_online, dtype: float64

In [8]:
df_lib_seq = pd.read_csv('Std_Lib_sequence_day_2016_se1.csv')
df_lib_seq = df_lib_seq[['0','1']]
df_lib_seq = df_lib_seq.rename(columns= {'0': 'De-id', '1':'lib_total_list'})
semester_days = 122
def clean_list(day_list):
    try: 
        len(day_list)
        ans = day_list[2:-2].split('.')[:-1]
        return [int(i) for i in ans]
    except:
        return [0] * semester_days 
df_lib_seq['lib_total_list'] = df_lib_seq['lib_total_list'].apply(clean_list)
df_lib_seq.head()

      De-id                                     lib_total_list
0  8TMIKVZ5  [0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 4, 0, 1, ...
1  OZ6FIGHH  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  QSGBC7CZ  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
3  EIC4AO9Q  [0, 2, 1, 0, 2, 2, 1, 1, 0, 0, 0, 1, 0, 1, 0, ...
4  S9BIH11O  [0, 3, 1, 0, 6, 2, 1, 1, 3, 0, 0, 4, 2, 3, 3, ...

In [52]:
def count(arr):
    ans = 0
    for i in arr:
        if i > 0:
            ans +=i
    return ans

df_lib_seq['former'] = df_lib_seq['lib_total_list'].apply(lambda x: sum(x[:30])/30.0)

df_lib_seq['former'].describe()

count    14501.000000
mean         0.361534
std          0.381828
min          0.000000
25%          0.100000
50%          0.266667
75%          0.500000
max          6.400000
Name: former, dtype: float64

In [55]:
df_lib_seq['latter'] = df_lib_seq['lib_total_list'].apply(lambda x: sum(x[75:80])/5.0)
df_lib_seq['latter'].describe()

count    14501.000000
mean         0.543990
std          0.682619
min          0.000000
25%          0.000000
50%          0.400000
75%          0.800000
max          7.600000
Name: latter, dtype: float64

In [29]:
(0.379+0.491)/2

0.435